<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>文章</title>
  <link rel="stylesheet" href="/static/styles/vendor.css" th:href="@{/static/styles/vendor.css}">
  <link rel="stylesheet" href="/static/styles/main.css" th:href="@{/static/styles/main.css}">
  <link rel="stylesheet" href="/static/styles/markdown.css" th:href="@{/static/styles/markdown.css}">
</head>
<body>
<!--头部开始-->
<header>
    <!-- Static navbar -->
    <div class="navbar navbar-lg navbar-default" role="navigation" id="nav">
        <div class="container" th:include="fragment/header :: header">
        </div>
    </div>
</header>
<!--通知栏开始,主要用户发布一些通知-->
<div class="tips" th:include="fragment/tips :: tips">
</div>
<!--主体开始-->
<div class="base-page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
           <div class="col-md-9">
               <!--主面板-->
               <section class="pro-section animated fadeInUp">
                       <div class="title">
                           <h5 class="text-center"><a th:href="@{/articleDO/{id}(id=${articleDO.id})}" th:text="${articleDO.title}">A+B问题</a></h5>
                           <p class="text-center">
                               作者:<span th:text="${articleDO.nickname}">作者:网络&nbsp;&nbsp;</span>
                               <!--<span>&nbsp;&nbsp;分类:初级</span></p>-->
                       </div>
                       <articleDO style="text-indent: 2em" class="preview-panel">
                           <div class="widget">
                               <aside class="widget">
                                   <h5><span>正文内容</span></h5>
                               </aside>
                           </div>
                           <th:block th:utext="${articleDO.htmlContent}">

                           </th:block>
                       </articleDO>
               </section>
           </div>
            <!--侧边栏-->
            <div class="col-md-3 widget animated fadeInRight" th:include="fragment/aside :: aside1">
            </div>
        </div>
    </div>
</div>
<!--主体结束-->
<footer th:include="fragment/footer :: footer">
</footer>

<script src="/static/scripts/vendor.js" th:src="@{/static/scripts/vendor.js}"></script>
<script src="/static/scripts/plugins.js" th:src="@{/static/scripts/plugins.js}"></script>
<script src="/static/scripts/highlight.min.js" th:src="@{/static/scripts/highlight.min.js}"></script>
<script src="/static/scripts/md2html.js" th:src="@{/static/scripts/md2html.js}"></script>
<script src="/static/scripts/articleDO.js" th:src="@{/static/scripts/articleDO.js}"></script>
</body>
</html>
