<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>比赛</title>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="/static/styles/vendor.css" th:href="@{/static/styles/vendor.css}">
  <link rel="stylesheet" href="/static/styles/main.css" th:href="@{/static/styles/main.css}">
</head>
<body>
<!--头部开始-->
<header>
    <!-- Static navbar -->
    <div class="navbar navbar-lg navbar-default" role="navigation" id="nav">
        <div class="container" th:include="fragment/header :: header">
        </div>
    </div>
</header>

<!--通知栏开始,主要用户发布一些通知-->
<div class="tips" th:include="fragment/tips :: tips">
</div>

<!--主体开始-->
<div class="base-page">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
           <div class="col-md-9">
               <!--主面板-->
               <section class="animated fadeInUp">
                   <strong>&nbsp;&nbsp;须知:</strong><br/>
                   <p class="page-text" style="text-indent: 2em;">
                       比赛定期展开,只限校内同学参加
                   </p>
                   <h4 class="text-center">比赛列表</h4>
                   <div class="list-view-item">
                        <table class="table table-bordered table-striped text-center" width="90%" style="margin: 0 auto">
                            <caption><h5 class="text-primary">近期的比赛</h5></caption>
                                <tr th:each="c1 : ${noExprieContest}">
                                    <td width="10%" th:text="${c1.id}">1</td>
                                    <td width="40%">
                                        <a href="javascript:void(0)"
                                           th:onclick="'getContestDetail('+${c1.id}+',\''+${c1.typeName}+'\')'" th:text="${c1.title}">计算机学院校赛</a>
                                    </td>
                                    <td width="20%"
                                        th:text="${c1.startTime}">2016-08-20 12:00:00</td>
                                    <td width="20%"
                                        th:text="${c1.endTime}">2016-08-20 12:00:00</td>
                                    <td width="10%" th:text="${c1.typeName}">校内</td>
                                </tr>
                        </table>
                       <hr style="border: 1px dotted gray;margin-top: 35px"/>
                        <table class="table table-bordered table-striped text-center" width="90%" style="margin: 0 auto">
                            <caption><h5 class="text-primary">结束的比赛</h5></caption>
                            <tr th:each="c2 : ${exprieContest}">
                                <td width="10%" th:text="${c2.id}">1</td>
                                <td width="40%">
                                    <a href="javascript:void(0)"
                                       th:onclick="'getContestDetail('+${c2.id}+',\''+${c2.typeName}+'\')'"
                                       th:text="${c2.title}">计算机学院校赛</a>
                                </td>
                                <td width="20%"
                                    th:text="${c2.startTime}">2016-08-20 12:00:00</td>
                                <td width="20%"
                                    th:text="${c2.endTime}">2016-08-20 12:00:00</td>
                                <td width="10%" th:text="${c2.typeName}">校内</td>
                            </tr>
                        </table>
                   </div>
               </section>
           </div>
            <!--侧边栏-->
            <div class="col-md-3 widget animated fadeInRight" th:include="fragment/aside :: aside1">
            </div>
        </div>
    </div>
</div>

<!--底部-->
<footer th:include="fragment/footer :: footer">
</footer>

<!--模态框-->
<!--具体提交的模态框-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">输入口令</h4>
            </div>
            <form id="contestJudgeForm">
            <div class="modal-body">
              <div class="form-group">
                <input class="form-control" type="password" name="passwd"/>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="contestDetail">Commit</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/static/scripts/vendor.js" th:src="@{/static/scripts/vendor.js}"></script>
<script src="/static/scripts/plugins.js" th:src="@{/static/scripts/plugins.js}"></script>
<script src="/static/scripts/contestDO.js" th:src="@{/static/scripts/contestDO.js}"></script>

</body>
</html>
