<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>讨论</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/vendor.css" th:href="@{/static/styles/vendor.css}">
    <link rel="stylesheet" href="/static/styles/main.css" th:href="@{/static/styles/main.css}">
</head>
<body>
<!--头部开始-->
<header>
    <!-- Static navbar -->
    <div class="navbar navbar-lg navbar-default" role="navigation" id="nav">
        <div class="container" th:include="fragment/header :: header">
        </div>
    </div>
</header>
<!--通知栏开始,主要用户发布一些通知-->
<div class="tips" th:include="fragment/tips :: tips">
</div>
<!--主体开始-->
<div class="base-page" id="app">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-9">
                <!--主面板-->
                <section class="discuss-section animated fadeInUp">
                    <!--标题部分-->
                    <div class="title">
                        <button class="btn btn-inverse" id="share_btn" th:title="${problem.id}">
                            分享思路
                        </button>
                        <h3 class="text-center text-primary">
                            <a href="#" th:href="@{/problem/{id}(id=${problem.id})}" th:text="${problem.title}">A+B问题</a>
                        </h3>
                        <p class="text-center text-danger">
                            <span th:text="'时间:'+${problem.timeLimit}+'ms  '">时间:1000ms  </span>
                            <span th:text="'  内存:'+${problem.memoryLimit/1000}+'M'"> 内存:32M</span></p>
                        <hr>
                    </div>
                    <!--留言讨论框-->
                    <div class="discuss-block row" th:each="comment : ${pageinfo.getList()}" th:id="${comment.getId()}+'del'">
                        <!--投票部分-->
                        <div class="discuss-vote col-md-1">
                            <button class="like"
                                    th:onclick="'voteComment('+${comment.getId()}+',1)'"
                                    data-placement="top" data-container="body" data-toggle="tooltip"
                                    th:title="#{like.content}" title="留言对人有帮助，有参考价值"><i
                                    class="fa fa-caret-up"></i></button>
                            <span th:text="${comment.likecount}"
                                  th:class="${comment.getId()}">0</span>
                            <button class="hate"
                                    th:onclick="'voteComment('+${comment.getId()}+',0)'"
                                    data-placement="bottom" data-container="body"
                                    data-toggle="tooltip" th:title="#{hate.content}"
                                    title="留言没帮助，是错误的答案，答非所问"><i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                        <!--留言框-->
                        <div class="discuss-detail col-md-11">
                            <div class="discuss-content">
                                <p th:id="${comment.getId()}+'content'"
                                   th:text="${comment.content}">
                                </p>
                            </div>
                            <!--底部按钮-->
                            <div class="discuss-tools" th:id="${comment.getId()}">
                                <div class="row">
                                    <div class="col-md-8">
                                        <ul class="list-inline">
                                            <li th:if="${session.userpri} !=null and ${comment.getUserId()} == ${session.userpri.id}">
                                                <a href="javascript:void(0);" th:onclick="'modifyComment('+${comment.getId()}+')'">编辑</a>
                                            </li>
                                            <li><a href="javascript:void(0);" th:onclick="'getCommentDetail('+${comment.getId()}+')'">评论</a>
                                            </li>
                                            <li th:if="${session.userpri} !=null and ${comment.getUserId()} == ${session.userpri.id}">
                                                <a href="javascript:void(0);" th:onclick="'deleteComment('+${comment.id}+')'">删除</a>
                                            </li>
                                            <li><a href="javascript:void(0);"
                                                   th:onclick="'reportComment('+${comment.getId()}+')'">举报</a>
                                            </li>
                                            <li><span class="time"
                                                      th:text="${#dates.format(comment.createdate,'dd/MMM/yyyy HH:mm')}">2016-10-17 23:00:00</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--底部头像-->
                                    <div class="col-md-4 discuss-user">
                                        <a href="#">
                                            <img src="apple-touch-icon.png"
                                                 th:src="@{${comment.user.avatar}}"
                                                 class="img-circle" width="32" height="32"
                                                 style="padding-bottom: 3px">
                                            <span style="margin-left: 5px"
                                                  th:text="${comment.user.nickname}">牛李</span>
                                        </a>
                                    </div>
                                </div>
                                <!--具体内容-->

                            </div>

                        </div>
                    </div>
                    <!--分页-->
                    <ul class="pagination-plain">
                        <li class="previous" th:if="${pageinfo.hasPreviousPage}">
                            <a href="#"
                               th:href="@{/comment/pro/{id}(id=${problem.id},pageNum=${pageinfo.prePage})}">Previous</a>
                        </li>
                        <li class="next" style="float: right" th:if="${pageinfo.hasNextPage}">
                            <a href="#"
                               th:href="@{/comment/pro/{id}(id=${problem.id},pageNum=${pageinfo.nextPage})}">next</a>
                        </li>
                    </ul>
                </section>
            </div>
            <!--侧边栏-->
            <div class="col-md-3 widget animated fadeInRight" th:include="fragment/aside :: aside1">
            </div>
        </div>
    </div>
</div>
<!--主体结束-->
<footer th:include="fragment/footer :: footer">
</footer>
<!--模态框-->
<!--具体提交的模态框-->
<div class="modal fade" id="myModal" th:if="${session.userinfo} != null">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">提交思路</h4>
            </div>
            <form id="comment_form" th:action="@{/comment/pro/add/{id}(id=${problem.id})}"
                  method="post">
                <input type="hidden" name="isReply" th:value="false">
                <div class="modal-body">
                    <div class="form-group">
                        <textarea class="form-control" rows="10" cols="10" required
                                  name="content"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary" id="comment-btn">Commit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/static/scripts/vendor.js" th:src="@{/static/scripts/vendor.js}"></script>
<script src="/static/scripts/plugins.js" th:src="@{/static/scripts/plugins.js}"></script>
<script src="/static/scripts/comment.js" th:src="@{/static/scripts/comment.js}"></script>
</body>
</html>
