<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/vendor.css" th:href="@{static/styles/vendor.css}">
    <link rel="stylesheet" href="/static/styles/login.css" th:href="@{static/styles/login.css}">
</head>
<body>
<!--最上角返回主页-->
<div class="small-home">
  <a th:href="@{/}" class="text-center"><i class="fa fa-home"></i></a>
</div>

<div class="index-one">
  <!--标题-->
  <div class="container-fluid text-center animated fadeInDown">
    <h1 class="login-logo">AUST</h1>
    <h6 class="text-danger">{{err_msg}}</h6>
  </div>
  <!--input框-->
  <div class="row animated fadeInUp">
    <div class="login-field">
      <form role="form" style="margin-top: 20px" method="post" id="registerForm" action="register">
        <!--昵称-->
        <div class="input-group form-group" :class="nicknameValid?'':'has-error'">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control"
                 placeholder="昵称" name="nickname" v-model="nickname">
        </div>
        <!--邮箱-->
        <div class="input-group form-group" :class="emailValid ?'':'has-error'">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="email" class="form-control"
                 placeholder="example@XX.com" name="email" required v-model="email" @blur="checkEmail" th:value="${email}">
        </div>
        <!--密码-->
        <div class="input-group form-group" :class="passwordValid?'':'has-error'">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control"
                 placeholder="Password" required name="password"  v-model="password">
        </div>
        <!--确认密码-->
        <div class="input-group form-group" :class="password2Valid?'':'has-error'">
          <span class="input-group-addon"><i class="fa fa-key"></i></span>
          <input type="password" class="form-control"
                 placeholder="Password" required name="password2" v-model="password2">
        </div>
        <!--验证码-->
        <div class="code-inline">
          <input type="text" class="form-control code-input" required name="codevalidate">
          <img id="code-validate"  class="code-img" @click="changeUrl" :src="codeurl">
        </div>
        <!--提交按钮-->
        <div class="input-group">
          <a href="/login.html" th:href="@{/login}" class="btn btn-primary">Sign in</a>&nbsp;&nbsp;
          <button type="button" class="btn btn-primary sign-in" @click="register" :disabled="!submit">Register</button>
        </div>
      </form>

    </div>
  </div>
</div>
<script src="/static/scripts/vendor.js" th:src="@{static/scripts/vendor.js}"></script>
<script src="/static/scripts/plugins.js" th:src="@{static/scripts/plugins.js}"></script>
<script src="/static/scripts/vue.js" th:src="@{static/scripts/vue.js}"></script>
<script src="/static/scripts/login.js" th:src="@{static/scripts/login.js}"></script>
</body>
</html>
