<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="LOG_HOME" value="logs" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{32} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- project level -->
	<logger name="cn.edu.aust" level="DEBUG" />
	<logger name="cn.edu.aust.mapper" level="trace" />
	<logger name="net.sf.ehcache" level="INFO" />

	<!--打开模板日志,便于学习-->
	<logger name="org.thymeleaf" level="trace" />


	<root level="DEBUG" >
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>

	

</configuration>