<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="asideFragment">
    <!--个人中心-->
    <aside class="widget">
        <h5><span>个人中心</span></h5>
        <!--/*@thymesVar id="user" type="cn.edu.aust.entity.User"*/-->
        <p class="text-center preson" th:if="${user} == null">
            <a href="login.html" th:href="@{/login}" class="btn">登录</a>
            <a href="register.html" th:href="@{/register}" class="btn">注册</a>
        </p>
        <th:block th:if="${user} != null">
            <p>用户名: <a href="" th:text="${user.nickname}!=null?${user.nickname}:${user.username}">牛李</a></p>
            <p>提交列表: <a href="/problem/sub">查看</a></p>
            <p th:text="'宣言: '+${user.motto}"></p>
        </th:block>

    </aside>
    <!--题目分类-->
    <aside class="widget">
        <h5><span>题目分类</span></h5>
        <ul class="list-unstyled catelog">
            <!--/*@thymesVar id="catelogs" type="java.util.List<cn.edu.aust.entity.Catelog>"*/-->
            <li th:each="catelog : ${catelogs}">
                <i class="fa fa-bookmark-o">&nbsp;&nbsp;<a href="" th:text="${catelog.name}"></a></i>
            </li>
        </ul>
    </aside>
    <!--标签列表-->
    <aside class="widget">
        <h5><span>标签</span></h5>
        <div class="tagcloud clearfix tags">
            <!--/*@thymesVar id="tags" type="java.util.List<cn.edu.aust.entity.Tag>"*/-->
            <th:block th:each="tag : ${tags}">
                <a style="font-size: 12px;" th:text="${tag.tag}" th:href="'#'"></a>
            </th:block>
        </div>
    </aside>
    <!--文章列表-->
    <aside class="widget">
        <h5><span>近期文章</span></h5>
        <ul class="list-unstyled article">
            <!--/*@thymesVar id="articles" type="java.util.List<cn.edu.aust.entity.Article>"*/-->
            <li th:each="article : ${articles}">
                <i class="fa fa-file-text-o">
                    <a href="/articles/'+item.id+'" target="_blank" th:text="${article.title}"></a>
                </i>
            </li>
        </ul>
    </aside>
</div>

</body>
</html>