<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="asideFragment">
    <!--个人中心-->
    <aside class="widget">
        <h5><span>个人中心</span></h5>
        <!--/*@thymesVar id="user" type="cn.edu.aust.common.entity.User"*/-->
        <p class="text-center preson" th:if="${user} == null">
            <a href="../login.html" th:href="@{/login}" class="btn">登录</a>
            <a href="../register.html" th:href="@{/register}" class="btn">注册</a>
        </p>
        <th:block th:if="${user} != null">
            <div class="text-center person">
                <a href="/user/1">
                    <img src="static/images/default-avatar.jpg" th:src="${user.avatar}" title="change your avatar"
                         data-placement="bottom" data-toggle="tooltip" data-container="body">
                </a>
                <a href="/user/1" class="center-block" th:text="${user.nickname}==null?${user.username}:${user.nickname}">nl101531</a>
            </div>
            <p>格言:<br><span th:text="${user.motto}">书山有路勤无用,学海无涯钱做主</span></p>
            <p class="tagcloud">近期AC:<br>
                <a href="#" style="font-size: 12px;">1000</a>
                <a href="#" style="font-size: 12px;">1000</a>
                <a href="#" style="font-size: 12px;">1000</a>
                <a href="#" style="font-size: 12px;">1000</a>
                <a href="#" style="font-size: 12px;">1000</a>
            </p>
        </th:block>

    </aside>
    <!--题目分类-->
    <aside class="widget" th:if="${tags} == null">
        <h5><span>题目分类</span></h5>
        <ul class="list-unstyled catelog">
            <!--/*@thymesVar id="catelogs" type="java.util.List<cn.edu.aust.common.entity.Catelog>"*/-->
            <li th:each="catelog : ${catelogs}">
                <i class="fa fa-bookmark-o">&nbsp;&nbsp;<a href="#" th:href="@{/catelog/pro/{id}(id=${catelog.id})}" th:text="${catelog.name}"></a></i>
            </li>
        </ul>
    </aside>
    <!--标签列表-->
    <!--/*@thymesVar id="tags" type="java.util.List<cn.edu.aust.common.entity.Tag>"*/-->
    <aside class="widget" th:if="${tags} != null">
        <h5><span>标签</span></h5>
        <div class="tagcloud clearfix tags">
            <th:block th:each="tag : ${tags}">
                <a style="font-size: 12px;" th:text="${tag.tag}" th:href="@{/article(search=${tag.tag})}"></a>
            </th:block>
        </div>
    </aside>
    <!--文章列表-->
    <aside class="widget">
        <h5><span>近期文章</span></h5>
        <ul class="list-unstyled article">
            <!--/*@thymesVar id="articles" type="java.util.List<cn.edu.aust.common.entity.Article>"*/-->
            <li th:each="article : ${articles}">
                <i class="fa fa-file-text-o">
                    <a th:href="@{/article/{id}(id=article.id)}" target="_blank" th:text="${article.title}" th:title="${article.title}"></a>
                </i>
            </li>
        </ul>
    </aside>
</div>

</body>
</html>