<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.mapper.ArticleMapper" >

  <resultMap id="BaseResultMap" type="cn.edu.aust.entity.Article" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="keyword" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="catelog_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="totop" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="isshow" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifydate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="cn.edu.aust.entity.ArticleBLOBs" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="nickname" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="keyword" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="catelog_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="totop" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="isshow" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifydate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="summary" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, title, user_id, nickname, keyword, catelog_id, totop, isshow, createdate, modifydate
  </sql>

  <sql id="Blob_Column_List" >
    summary, content
  </sql>

  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.edu.aust.entity.ArticleBLOBs" >
    insert into article (id, title, user_id, 
      nickname, keyword, catelog_id, 
      totop, isshow, createdate, 
      modifydate, summary, content
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{nickname,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, #{catelogId,jdbcType=INTEGER}, 
      #{totop,jdbcType=TINYINT}, #{isshow,jdbcType=TINYINT}, #{createdate,jdbcType=TIMESTAMP}, 
      #{modifydate,jdbcType=TIMESTAMP}, #{summary,jdbcType=LONGVARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="cn.edu.aust.entity.ArticleBLOBs" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="keyword != null" >
        keyword,
      </if>
      <if test="catelogId != null" >
        catelog_id,
      </if>
      <if test="totop != null" >
        totop,
      </if>
      <if test="isshow != null" >
        isshow,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="catelogId != null" >
        #{catelogId,jdbcType=INTEGER},
      </if>
      <if test="totop != null" >
        #{totop,jdbcType=TINYINT},
      </if>
      <if test="isshow != null" >
        #{isshow,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.aust.entity.ArticleBLOBs" >
    update article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null" >
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="catelogId != null" >
        catelog_id = #{catelogId,jdbcType=INTEGER},
      </if>
      <if test="totop != null" >
        totop = #{totop,jdbcType=TINYINT},
      </if>
      <if test="isshow != null" >
        isshow = #{isshow,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.edu.aust.entity.ArticleBLOBs" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      catelog_id = #{catelogId,jdbcType=INTEGER},
      totop = #{totop,jdbcType=TINYINT},
      isshow = #{isshow,jdbcType=TINYINT},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      summary = #{summary,jdbcType=LONGVARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.edu.aust.entity.Article" >
    update article
    set title = #{title,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      catelog_id = #{catelogId,jdbcType=INTEGER},
      totop = #{totop,jdbcType=TINYINT},
      isshow = #{isshow,jdbcType=TINYINT},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查找出文章列表-->
  <select id="selectList" parameterType="int" resultType="cn.edu.aust.entity.Article">
    SELECT <include refid="Base_Column_List"/>
    FROM article ORDER by createdate DESC
    <if test="value > 0">
      limit ${value}
    </if>
  </select>
</mapper>