<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.mapper.ContestProblemMapper" >

  <resultMap id="BaseResultMap" type="cn.edu.aust.entity.ContestProblem" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="problem_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="contest_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="num" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="point" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="accepted" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="solved" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="submit" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="submit_user" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createdate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifydate" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, problem_id, contest_id, title, num, point, accepted, solved, submit, submit_user, 
    createdate, modifydate
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from contest_problem
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from contest_problem
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.edu.aust.entity.ContestProblem" >
    insert into contest_problem (id, problem_id, contest_id, 
      title, num, point, 
      accepted, solved, submit, 
      submit_user, createdate, modifydate
      )
    values (#{id,jdbcType=INTEGER}, #{problemId,jdbcType=INTEGER}, #{contestId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, #{point,jdbcType=INTEGER}, 
      #{accepted,jdbcType=INTEGER}, #{solved,jdbcType=INTEGER}, #{submit,jdbcType=INTEGER}, 
      #{submitUser,jdbcType=INTEGER}, #{createdate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}
      )
  </insert>

  <insert id="insertSelective" parameterType="cn.edu.aust.entity.ContestProblem" >
    insert into contest_problem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="problemId != null" >
        problem_id,
      </if>
      <if test="contestId != null" >
        contest_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="accepted != null" >
        accepted,
      </if>
      <if test="solved != null" >
        solved,
      </if>
      <if test="submit != null" >
        submit,
      </if>
      <if test="submitUser != null" >
        submit_user,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="problemId != null" >
        #{problemId,jdbcType=INTEGER},
      </if>
      <if test="contestId != null" >
        #{contestId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="accepted != null" >
        #{accepted,jdbcType=INTEGER},
      </if>
      <if test="solved != null" >
        #{solved,jdbcType=INTEGER},
      </if>
      <if test="submit != null" >
        #{submit,jdbcType=INTEGER},
      </if>
      <if test="submitUser != null" >
        #{submitUser,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.aust.entity.ContestProblem" >
    update contest_problem
    <set >
      <if test="problemId != null" >
        problem_id = #{problemId,jdbcType=INTEGER},
      </if>
      <if test="contestId != null" >
        contest_id = #{contestId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="accepted != null" >
        accepted = #{accepted,jdbcType=INTEGER},
      </if>
      <if test="solved != null" >
        solved = #{solved,jdbcType=INTEGER},
      </if>
      <if test="submit != null" >
        submit = #{submit,jdbcType=INTEGER},
      </if>
      <if test="submitUser != null" >
        submit_user = #{submitUser,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.edu.aust.entity.ContestProblem" >
    update contest_problem
    set problem_id = #{problemId,jdbcType=INTEGER},
      contest_id = #{contestId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      num = #{num,jdbcType=VARCHAR},
      point = #{point,jdbcType=INTEGER},
      accepted = #{accepted,jdbcType=INTEGER},
      solved = #{solved,jdbcType=INTEGER},
      submit = #{submit,jdbcType=INTEGER},
      submit_user = #{submitUser,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>