<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.mapper.ArticleMapper">
    <resultMap id="BaseResultMap" type="cn.edu.aust.pojo.entity.ArticleDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="html_content" property="htmlContent" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="author_id" property="authorId" jdbcType="INTEGER"/>
        <result column="author_name" property="authorName" jdbcType="VARCHAR"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
        <result column="viewcount" property="viewCount" jdbcType="INTEGER"/>
        <result column="likecount" property="likeCount" jdbcType="INTEGER"/>
        <result column="catelog_id" property="catelogId" jdbcType="INTEGER"/>
        <result column="is_top" property="isTop" jdbcType="TINYINT"/>
        <result column="is_show" property="isShow" jdbcType="TINYINT"/>
        <result column="createdate" property="createdate" jdbcType="TIMESTAMP"/>
        <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, title, author_id, author_name, keyword, viewcount, likecount, catelog_id, is_top, is_show,
    createdate,modifydate,summary
  </sql>
    <sql id="Detail_Column_List">
        <include refid="Base_Column_List"/>
        , html_content
    </sql>


    <!--查询文章侧边栏显示-->
    <select id="queryForAside" resultMap="BaseResultMap">
    SELECT id, title FROM article WHERE is_show = 1 ORDER by createdate DESC
  </select>

    <!--查询文章页面文章列表-->
    <select id="queryList" parameterType="cn.edu.aust.entity.ArticleQuery" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM article t1
        WHERE t1.is_show=1
        <if test="userId != null">
            AND t1.author_id = #{userId}
        </if>
        <if test="search != null">
            and (t1.id LIKE #{search} or t1.title LIKE #{search} or t1.keyword LIKE #{search})
        </if>
        ORDER BY t1.is_top DESC
    </select>

    <!--查询单篇文章详情-->
    <select id="findDetail" parameterType="long" resultMap="BaseResultMap">
        SELECT
        <include refid="Detail_Column_List"/>
        FROM article p
        WHERE p.id = #{value} and p.is_show=1
    </select>
</mapper>