<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.mapper.ContestProblemMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.aust.pojo.entity.ContestProblemDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="problem_id" property="problemId" jdbcType="INTEGER" />
    <result column="problem_title" property="problemTitle" jdbcType="VARCHAR" />
    <result column="contest_id" property="contestId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="submit" property="submit" jdbcType="INTEGER" />
    <result column="solved" property="solved" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, problem_id, contest_id, problem_title, num, point, solved, submit,
    createdate, modifydate, status
  </sql>

  <!--查询竞赛下的题目-->
  <select id="queryByContest" parameterType="Long" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM contest_problem
    WHERE contest_id = #{contestId}
  </select>

</mapper>