<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.aust.pojo.entity.ArticleDO" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="viewcount" property="viewcount" jdbcType="INTEGER" />
    <result column="likecount" property="likecount" jdbcType="INTEGER" />
    <result column="catelog_id" property="catelogId" jdbcType="INTEGER" />
    <result column="is_top" property="isTop" jdbcType="TINYINT" />
    <result column="is_show" property="isShow" jdbcType="TINYINT" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, title, user_id, keyword, viewcount, likecount, catelog_id, is_top, is_show, createdate,
    modifydate
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    summary, content
  </sql>


  <!--查询文章侧边栏显示-->
  <resultMap id="ArticleAsideList" type="cn.edu.aust.pojo.entity.ArticleDO">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryForAside" resultMap="ArticleAsideList">
    SELECT id, title FROM articleDO WHERE is_show = 1 ORDER by createdate DESC
  </select>

  <!--查询文章页面文章列表-->
  <resultMap id="ArticleList" type="cn.edu.aust.query.ArticlePK">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="keyword" property="keyword" jdbcType="VARCHAR" />
    <result column="viewcount" property="viewcount" jdbcType="INTEGER" />
    <result column="likecount" property="likecount" jdbcType="INTEGER" />
    <result column="is_top" property="isTop" jdbcType="TINYINT" />
    <result column="is_vote" property="isVote" jdbcType="TINYINT" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="createdate" property="createdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="queryList" parameterType="cn.edu.aust.query.ArticleQM" resultMap="ArticleList">
    SELECT t1.id,t1.title,t1.keyword,t1.viewcount,t1.likecount,t1.is_top,t1.createdate,t1.summary,t2.nickname
    <if test="userId != null">
      ,ifnull(vote.is_vote,0) as is_vote
    </if>
    FROM articleDO t1
    LEFT JOIN userDO t2 ON t2.id = t1.user_id
    <if test="userId != null">
      LEFT JOIN
      (select status as "is_vote",other_id FROM votelog t3 WHERE t3.type = 2 AND t3.user_id = #{userId}) as vote ON vote.other_id = t1.id
    </if>
    WHERE t1.is_show=1
    <if test="search != null">
      and (t1.id LIKE #{search} or t1.title LIKE #{search} or t1.keyword LIKE #{search})
    </if>
  ORDER BY t1.is_top DESC
  </select>

  <!--查询单篇文章详情-->
  <resultMap id="ArticleDetail" extends="ArticleList" type="cn.edu.aust.query.ArticlePK">
    <result column="html_content" property="htmlContent" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryDetail" parameterType="long" resultMap="ArticleDetail">
      SELECT p.*,p1.nickname FROM articleDO p
      LEFT JOIN userDO p1 ON p1.id = p.user_id
      WHERE p.id = #{value} and p.is_show=1
  </select>
</mapper>