<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.aust.pojo.entity.SolutionSourceMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.aust.pojo.entity.SolutionSource" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="solution_id" property="solutionId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.edu.aust.pojo.entity.SolutionSource" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="source" property="source" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, solution_id
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    source
  </sql>
</mapper>