<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" href="/static/styles/vendor.css" th:href="@{/static/styles/vendor.css}">
    <link rel="stylesheet" href="/static/styles/login.css" th:href="@{/static/styles/login.css}">
</head>
<body  style="overflow-x: hidden">
<div class="index-one" style="height: 100vh">
  <div class="container-fluid text-center animated fadeInDown" style="margin-top: 5%">
    <h1 class="logo-name">AUST</h1>
    <h3 th:utext="${errorMessage}">发生异常,请稍后再试</h3>
  </div>
  <div class="row animated fadeInUp">
    <div class="input-group login-field">
      <br/>
      <a href="javascript:void(0);" onClick="history.back(-1);" class="btn btn-primary">
        <i class="fa fa-backward"></i>&nbsp;&nbsp;返回</a>
      <a href="/" class="btn btn-primary"><i class="fa fa-home"></i>&nbsp;&nbsp;主页</a>
    </div>
  </div>
</div>
</body>
</html>
