<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styles/vendor.css" th:href="@{/static/styles/vendor.css}">
    <link rel="stylesheet" href="/static/styles/main.css" th:href="@{/static/styles/main.css}">
</head>
<body>
        <div class="discuss-comment row animated fadeInUp" id="discusscontent">
            <div class="commont-list">
                <ul class="list-unstyled">
                    <!--/*@thymesVar id="comments" type="com.github.pagehelper.PageInfo"*/-->
                    <!--/*@thymesVar id="userDO" type="cn.edu.aust.common.entity.User"*/-->
                    <!--/*@thymesVar id="comment" type="cn.edu.aust.common.entity.pojo.ProblemCommentUser"*/-->
                    <li th:each="comment : ${comments.getList()}" th:id="${comment.getId()}+'del'">
                        <div class="reply-main row">
                            <div class="col-md-12" >
                                <a href="#"
                                   th:text="${comment.userDO.nickname}==null?${comment.userDO.username}:${comment.userDO.nickname}">牛李</a>
                                <th:block th:if="${comment.friend} != null">回复:
                                    <a href="#" th:text="${comment.friend.nickname}==null?${comment.friend.username}:${comment.friend.nickname}">笑笑</a>
                                </th:block>
                                <th:block th:text="':'+${comment.content}">原来如此</th:block>
                            </div>
                        </div>
                        <div class="reply-info row">
                            <span class="col-md-4 time" th:text="${#dates.format(comment.getCreatedate(),'dd/MMM/yyyy HH:mm')}">2016-10-17 23:00:00</span>
                            <div class="reply-button">
                                <a href="javascript:void(0)"
                                   th:onclick="'replyComment('+${root_id}+','+${comment.userId}+',\''
                                   +${comment.userDO.nickname}+'\')'">回复</a>
                                <a href="javascript:void(0)" th:if="${session.userpri} !=null and ${comment.userId} == ${session.userpri.id}" th:onclick="'deleteComment('+${comment.id}+')'">删除</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--评论框最后动态显示-->
            <div style="margin-left: 35px;margin-right: 50px" th:id="${root_id}+'form'">
                <span style="margin-left: 19px;margin-bottom: -10px" class="hidden reply-friend">回复:<a href="#">niuli</a></span>
                <form action="#" method="post">
                    <div class="col-md-9">
                        <textarea class="form-control" name="content"></textarea>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <button class="btn btn-lg btn-inverse" type="button">提交评论</button>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>